
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, html{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family: 'Montserrat', sans-serif;
    background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}
ul{
    list-style: none;
    margin-top: 10px;
}


.quiz-container{
    width:80%;
    max-width: 400px;
    padding: 1rem;
    box-shadow: 0 0 15px black;
    border-radius: 10px;
    background-color: #fff;
}

#btn{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color:#fff;
    background-color:#207060;
    border: none;
}

#btn:hover, #btn:focus{
    outline: none;
    background-color: #435e58;
}
ul li label{
    margin-left: 10px;
    cursor: pointer;
}


.start-box{
    padding:2rem 3rem;
    background: #ff6e7f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    border: 2px solid black;
    color:#fff;
    font-size: 22px;
}

.show {
    display:block;
}

.hide{
    display:none;
}

body p{
    padding: 1rem;
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bfe9ff, #ff6e7f);
    font-size: medium;
    max-width:60%;
    border:2px solid black;
    border-radius: 10px;
}

body p span{
    font-weight: 700;
}

#header-text{
    color:#232323;
    font-size: 18px;
    font-weight: bolder;
}
